extends ../components/base/_skeleton

block variables
	- pageName = 'Corporate popup set';

block page
	include ../components/rd-navbar/_rd-navbar-popup
	include ../components/section/_corporate-popup-set
	include ../components/section/_other-popup-sets
	include ../components/footer/_footer-default
