extends ../components/base/_skeleton

block variables
	- pageName = 'Home';

block page
	include ../components/rd-navbar/_rd-navbar-default
	include ../components/section/_landing-page-intro
	include ../components/section/_landing-page-images
	include ../components/section/_landing-page-layouts
	include ../components/section/_landing-page-popups
	include ../components/section/_landing-page-cta
	include ../components/section/_landing-page-seo
	include ../components/section/_landing-page-novi
	include ../components/section/_landing-page-advantages
	include ../components/section/_landing-page-technologies
	include ../components/section/_landing-page-support
	include ../components/footer/_footer-default
