extends ../components/base/_skeleton

//- Variables
block variables
	-
		pageName = 'Lintense Mobile App',
		logo.default = 'logo-default-app-306x106.png',
		logo.inverse = 'logo-inverse-app-306x106.png';

//- Page
block page
	include ../components/rd-navbar/_rd-navbar-app
	include ../components/section/_landing-app-intro
	include ../components/section/_landing-app-counters
	include ../components/section/_landing-app-how-it-works
	include ../components/section/_landing-app-advantages
	include ../components/section/_landing-app-advantages-2
	include ../components/section/_landing-app-video
	include ../components/section/_landing-app-cta
	include ../components/section/_landing-app-gallery
	include ../components/section/_landing-app-technologies
	include ../components/section/_landing-app-pricing-plans
	include ../components/section/_landing-app-testimonials
	include ../components/section/_landing-app-subscribe
	include ../components/footer/_footer-app
