extends ../components/base/_skeleton

block variables
	-
		pageName = 'Lintense Headphones'
		logo.default = 'logo-default-headphones-318x106.png'
		logo.inverse = 'logo-inverse-headphones-318x106.png';

block page
	include ../components/rd-navbar/_rd-navbar-one-product
	include ../components/section/_landing-one-product-intro
	include ../components/section/_landing-one-product-about-us
	include ../components/section/_landing-one-product-advantages
	include ../components/section/_landing-one-product-advantages-centered
	include ../components/section/_landing-one-product-advantages-accordion
	include ../components/section/_landing-one-product-gallery
	include ../components/section/_landing-one-product-specifications
	include ../components/section/_landing-one-product-images
	include ../components/footer/_footer-one-product
