extends ../components/base/_skeleton

block variables
	-
		pageName = 'Lintense Promotion',
		logo.default = 'logo-default-promotion-314x106.png',
		logo.inverse = 'logo-inverse-promotion-314x106.png';

block page
	include ../components/rd-navbar/_rd-navbar-promotion
	include ../components/section/_landing-promotion-intro
	include ../components/section/_landing-promotion-about-us
	include ../components/section/_landing-promotion-cta
	include ../components/section/_landing-promotion-advantages
	include ../components/section/_landing-promotion-projects
	include ../components/section/_landing-promotion-why-choose-us
	include ../components/section/_landing-promotion-cta-2
	include ../components/section/_landing-promotion-advantages-2
	include ../components/section/_section-divider
	include ../components/footer/_footer-promotion
