extends ../components/base/_skeleton

block variables
	-
		pageName = 'Lintense Digital Agency',
		logo.default = 'logo-default-digital-316x106.png',
		logo.inverse = 'logo-inverse-digital-316x106.png';

//- Page
block page
	include ../components/rd-navbar/_rd-navbar-digital-agency
	include ../components/section/_landing-digital-agency-intro
	include ../components/section/_landing-digital-agency-about-us
	include ../components/section/_landing-digital-agency-what-we-do
	include ../components/section/_landing-digital-agency-our-projects
	include ../components/section/_landing-digital-agency-how-we-work
	include ../components/section/_landing-digital-agency-testimonials
	include ../components/section/_landing-digital-agency-our-team
	include ../components/section/_landing-digital-agency-get-in-touch
	include ../components/footer/_footer-digital-agency
